/* HEADER */

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}

.photograph-header .presentation {
    position: relative;
    right: 18%;
    width: 500px;
}

.photograph-header .presentation h1 {
    color: #D3573C;
    font-size: 64px;
    width: 358px;
    margin: 0;
}

.photograph-header .presentation .localisation {
    color: #901C1C;
    font-size: 24px;
    margin: 10px 0;
}

.photograph-header .presentation .tagline {
    font-size: 18px;
    font-weight: 400;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 43%;
}

.photograph-header .portrait {
    width: 30%;
    position: relative;
    left: 8%;
    margin-right: 10px;
}

.photograph-header .portrait img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

/* FORM */

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.send_button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PICTURES SECTION */

.picturesSection {
    margin: 0 100px;
}

.picturesSection .tri {
    display: flex;
    margin: 20px 0;
}

.picturesSection .tri_button {
    width: 170px;
    height: 69px;
    background-color: #901C1C;
    color: #FFFFFF;
    border-radius: 14px;
    border-style: none;
    margin: 0 30px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 5px;
}

.picturesSection label {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
}

.picturesSection .afficherMedias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 5px 10px;
}

.afficherMedias .media section img,
.afficherMedias .media section video {
    width: 325px;
    height: 275px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 4px;
}

.afficherMedias .media section .titreLike {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
}

.afficherMedias .media h3 {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
}
.picture-likes{
    font-size: 24px;
    margin: 0 2px;
    color:#901C1C;
}
.titreLike i {
    color: #901C1C;
}

/* LIGHTBOX */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0%;
    z-index: 10;
    height: 100%;
    background-color: white;
    overflow: auto;
    width: 100%;
    margin: auto;
}

.lightbox_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 50px;
    width: 90%;
    margin: auto;
    right: 0%;
}

.lightbox_container img, 
.lightbox_container video {
    width: 900px;
    height: 700px;
    object-fit: cover;
    margin: 20px 0;
}

.close_lightbox {
    width: 72px;
    height: 72px;
    background: transparent;
    border: transparent;
    position: fixed;
    left: 87%;
    top: 10px;
    cursor: pointer;
}

.prev_lightbox,
.next_lightbox {
    color: #901C1C;
    position: fixed;
    top: 60%;
    left: 8%;
    z-index: 11;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    font-size: 50px;
}

.next_lightbox {
    left: 87%;
}

.titreLightbox {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

/* ENCART */

.encart {
    position: fixed;
    bottom: 0;
    right: 2%;
    width: 376px;
    height: 69px;
    background-color: #DB8876;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

.likes {
    width: 50%;
    font-size: 24px;
}

.textEncart,
#price {
    font-size: 24px;
    font-weight: 500;
}